<%= form_for [post, comment], url: {action: 'create'}, html: { class: 'add-comment' } do |f| %>
  <%= f.text_area :text, class: 'styled-textarea
  ' %>
  <p>
    <%= f.submit 'Add Comment', class: 'main_add_comment_btn' %>
  </p>
<% end %>
