<div class='post-comments'>
  <p class='comment-details'>
    <span class='small-text'>
      on <%= posted_on(comment.created_at) %>, <%= comment.author %> said:
    </span>
  </p>
  <p><%= comment.text %></p>
</div>