body {
  background-color: #ccc5c9;
}
.site-title  {
  background-color: #fcfcfc;
  color: #303;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 1em #333033;
}

.brand {
  font-family: 'Open Sans Condensed';
  padding-left: 20px;
  float: left;
  display: inline-block;
}

.container {
  width: 840px;
  margin: 0 auto;
  padding: 15px;
  clear: both;
  font-family: 'PT Serif';
  margin-top: 100px;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 0 0 1.5em #333033;
}

nav {
  display: inline-block;
  float: right;
  padding: 20px 5px 0 0;
}

nav li {
  list-style: none;
  display: inline;
  padding: 5px;
}

nav a, nav a:visited {
  color: #7AC5CF;
}

nav a:hover {
  color: #A1DBE3;
}

a.nav-username, a.nav-username:visited, a.nav-username:hover {
  color: #303;
}

.search {
  float: right;
  padding: 20px 10px;
  margin-top: 100px;
}

.search-button {
  margin: 0;
  background-color: #663366;
  color: #f6f6f6;
  border: none;
  padding: 7px;
  float: right;
}
#search-box {
  border: 2px solid #663366;
  padding: 5px;
  outline: none;
}

a, a:visited {
  text-decoration: none;
}

header a, headera a:visited {
  color: #303;
}

.small-font {
  font-size: 11px;
}
