body {
  background-color: #f0f3f0;
  background: url('crossword_green.png') fixed;
  /*position: relative;*/
}

a, a:visited {
  color: black;
}

.post-form .field_with_errors {
   margin-top: 10px;
}

.field_with_errors textarea {
  border-color: #DF0101;
}

.error-text {
  color: #DF0101;
  font-size: 15px;
}

p.error-text{
  text-align: center;
}
.error-list {
  margin: 0.5em 35%;
  list-style-type: circle;
}

.site-title {
  background-color: #60c000;
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0;
}

.site-title a {
  color: #fcfcfc;
}

.site-title h1 {
  margin: 0 0 15px;
}

.brand {
  font-family: 'Pacifico';
  font-size: 25px;
  text-align: center;
}

.wrapper {
  margin-top: 120px;
  padding-left: 150px;
}

.padding {
  width: 900px;
  display: block;
  margin: 0 auto;
}

.container {
  width: 83%;
  font-family: 'Droid Sans', sans-serif;
  background-color: rgba(245, 250, 245, 0.6);
  border-radius: 5px;
  float: left;
  margin: 0 auto 20px;
}

nav {
  float: right;
  margin-left: 775px;
  width: 125px;
  border-radius: 5px;
  position: fixed;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: right;
}

nav ul li {
  padding: 5px 14px;
  border-bottom: 1.5px solid #c3c3c3;
}

nav ul li:last-child{
  border: none;
}

nav a, nav a:visited {
  color: #6fcf3f;
}

nav a:hover {
  color: #0f9f3f;
}

.search {
  float: right;
  padding: 20px 10px;
  margin-top: 100px;
}

.search-button {
  margin: 0;
  background-color: #663366;
  color: #f6f6f6;
  border: none;
  padding: 7px;
  float: right;
}

#search-box {
  border: 2px solid #663366;
  padding: 5px;
  outline: none;
}

a, a:visited {
  text-decoration: none;
}

.small-font {
  font-size: 11px;
}
