header h1 {
  padding-left: 20px;
}

header ul {
  display: inline-block;
  
}

header ul li {
  display: inline-block;
  float: left;
}

.container {
  width: 720px;
  border: 2px dotted black;
  margin: 0 auto;
  clear: both;
}