header h1 {
  font-family: 'Open Sans Condensed';
  padding-left: 20px;
  float: left;
  display: inline-block;
}

.container {
  width: 720px;
  border: 2px dotted black;
  margin: 0 auto;
  clear: both;
  font-family: 'PT Serif';
}

nav {
  display: inline-block;
  float: right;
}

nav li {
  list-style: none;
  display: inline;
  padding: 5px;
}
