#post-container {
	position: static;
	padding: 15px 20px 0;
}

#new-comment, #new-comment p {
	margin: 0;
}

.med-font{
	font-size: 12px;
}

.post-author-details {
  margin: 10px 0;
}

.post-type {
  font-weight: bold;
}

.post-author {
  font-size: 18px;
  font-weight: bold;
}

.post-text {
  font-size: 36px;
  margin-bottom: 0.2em;
  padding: 8px;
}

.edit_post_button a, .edit_post_button a:visited{
  color: #fff;
}