#post-container header {
	position: static;
}

.fa {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.main_add_comment_btn, .sub-add-comment-btn {
	padding: 4px 8px;
	background-color: #000;
	color: #fff;
	display: inline-block;
}

.upvote.highlight, .upvote.highlight:hover {
	color: #0f0;
}
.downvote.highlight, .downvote.highlight:hover {
	color: #f00;
}

.main_add_comment_btn:hover, .sub-add-comment-btn:hover {
	background-color: #fff;
	color: #000;
}

#main-add-comment-input {
	width: 500px;
	height: 150px;
}

#sub-add-comment-input {
	width: 100%;
	height: 150px;
}

.hidden {
	display: none;
}

.vote_control i:hover, .add_comment:hover {
	color: #ccc;
	cursor: pointer;
}