.signup-title {
  width: 110px;
  margin: 0.5em auto;
  color: #396;
  /*text-align: center;*/
  border-bottom: 1px solid #396;
  /*text-decoration: underline;*/
  line-height: 120%;
}

.signup-title a, .signup-title a:visited {
  color: black;
}

.signup-form {
  font-family: 'Open Sans';
  color: #396;
  font-size: 14px;
  margin: 0 auto;
  display: block;
  width: 250px;
  text-align: right;
}

.signup-form input {
  float: left;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
}

.signup-form input:last-child{
  border: none;
  /*text-align: center;*/
  margin: 3% 1.5%;
  float: right;

}

.signup-form label {
  float: left;
  font-size: 14px;
  padding: 5px;
  width: 75px;
  margin: 2px 0;
}


.user-input-field {
  border-radius: 4px;
  padding: 5px 5px;
  font-family: 'Droid Sans', sans-serif;
}

.new-post {
  margin: 25px auto;
  display: block;
}

.post-form {
  font-family: 'Open Sans';
  color: #396;
  margin: 0 auto;
  width: 60%;
}

.post-input-field {
  font-family: 'Droid Sans', sans-serif;
  margin: 3px;
}

.user-input-field-name {
  font-size: 14px;
  padding-right: 5px;
}
