.post-index-individual {
  /*padding: 10px 20px 0 0;*/
  margin: 5px auto;
  width: 97.6%;
  display: inline-block;
  border-bottom: 2px solid #cfcfcf;
  /*overflow: auto;*/
}

.post-index-individual:first-child {
  margin-top: 20px;
}

.post-index-individual:last-child {
  border: none;
}

.post-index {
  list-style-type: none;
  float: right;
  margin: 0;
  /*display: inline;*/
  width: 88%;
  padding-left: 0;
  padding-bottom: 15px;
}

.post-user {
  font-weight: bold;
  font-size: 16px;
}

.comments-link, .comments-link:visited {
  color: #7AC5CF;
}

.comments-link:hover {
  color: #A1DBE3;
}

.post-text-index {
  font-size: 24px;
  font-style: italic;
}

.votes {
  float: left;
  text-align: center;
  width: 85px;
}

.vote {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  display: block;
}

.upvote {
  border-bottom: 15px solid #c8c8c8;
}

.post-vote-count {
  color: #c8c8c8;
  display: block;
  padding: 4px 0 1px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  /*width: 85px;/*/
}

.downvote {
  border-top: 15px solid #c8c8c8;
}

.upvoted {
  border-bottom-color: #b7da60;
  color: #b7da60;
}

.downvoted {
  border-top-color: #e7ce66;
  color: #e7ce66;
}
