.post-index-individual {
  margin: 5px auto;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid #cfcfcf;
}

.post-index-individual:first-child {
  margin-top: 20px;
}

.post-index-individual:last-child {
  border: none;
}

.post-index {
  list-style-type: none;
  float: right;
  margin: 0;
  width: 86%;
  padding-right: 2%;
  padding-left: 0;
  padding-bottom: 15px;
}

.post-user {
  font-weight: bold;
  font-size: 16px;
}

.comments-link, .comments-link:visited {
  color: #60c000;
}

.comments-link:hover {
  color: #0f9f3f;
}

.post-text-index {
  font-family: "Open Sans";
  font-size: 24px;
  padding-bottom: 10px;
}

.votes {
  float: left;
  text-align: center;
  width: 85px;
}

.comment-votes {
  float: left;
  text-align: center;
  margin-top: 7px;
  width: 40px;
}

.vote {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  display: block;
}

.comment-vote {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  display: block;
}

.post-vote-count {
  color: #c8c8c8;
  display: block;
  padding: 4px 0 1px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.comment-vote-count {
  color: #c8c8c8;
  display: block;
  text-align: center;
  padding: 4px 0 1px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.upvote {
  border-bottom: 15px solid #c8c8c8;
}

.comment-upvote {
 border-bottom: 10px solid #c8c8c8; 
}

.downvote {
  border-top: 15px solid #c8c8c8;
}

.comment-downvote {
  border-top: 10px solid #c8c8c8;
}

.upvoted {
  border-bottom-color: #fc0;
  color: #fc0;
}

.downvoted {
  border-top-color: #6c9;
  color: #6c9;
}
